<?xml version='1.0' encoding='UTF-8'?>

<bag xmlns:boolean="http://www.w3.org/2001/XMLSchema#boolean" xmlns:int="http://www.w3.org/2001/XMLSchema#int" int:version="1">
 <SurveyView int:survey_view_int_operations_mode="0">
  <BottomUpGrid>
   <ColumnStructure DefaultColumnLayout="Default"/>
   <ColumnWidth int:fdLocation="88" int:fdTotalElapsedTime="84" int:fdSelfElapsedTime="84" int:fdFunctionName="366" int:fdLoopAnnotation="43" int:fdRecommendationPresence="332" int:fdTotalTime="120" int:fdSelfTime="91" int:fdCompilerOptInfoVectLoopTypeSplitting="163" int:fdCompilerOptInfoVectMsg="461" int:fdVectInfoInstSets="49" int:fdVectorEfficiency="79" int:fdVectorGain="49" int:fdVectorLength="49" int:fdCompilerOptInfoVectSpeedup="49" int:fdVectInfoInstClasses="302" int:fdVectInfoVectDataTypes="99" int:fdVectInfoVectWidths="104" int:fdVectInfoInstSetsAdvanced="111" int:fdCompilerOptDetails="112" int:fdSource="113" int:fdModuleName="68"/>
   <ColumnState boolean:fdLocation="true" boolean:fdVectInfoInstSetAnalysis="true" boolean:fdVectInfo="true" boolean:fdCpuTime="false"/>
  </BottomUpGrid>
  <TopDownGrid>
   <ColumnStructure DefaultColumnLayout="Top Down"/>
  </TopDownGrid>
  <SourceView>
   <ColumnWidth int:SnippetDefaultState="1"/>
  </SourceView>
 </SurveyView>
 <workflow boolean:accuracyEnable="true" int:selected="0">
  <pmVectorization>
   <checked boolean:a1="true" boolean:a3="false" boolean:a6="false" boolean:a7="false"/>
  </pmVectorization>
 </workflow>
 <MainView int:SidebarWidth="330"/>
 <FilterView boolean:VectorizedButtonChecked="true" boolean:NotVectorizedButtonChecked="true" boolean:FakeLoopButtonChecked="false" boolean:LibrariesButtonChecked="false" ModuleFilterValue="All Modules" SourceFilterValue="solver.c" LoopModeFilterValue="Loops" ThreadFilterValue="All Threads"/>
 <SurveySourceView boolean:SourcePaneVisible="true" boolean:AsmPaneVisible="true" boolean:StackPaneVisible="true"/>
</bag>
